In [1]:
import pandas as pd

poll = pd.read_csv("2017_jun_final.csv")
poll

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699,8700,QA engineer,NaN,Manual QA,1,меньше 3 месяцев,700,700,Одесса,до 50 человек,...,False,средний,"Android,Desktop Applications",12/07/2017 15:45:24,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,1.0,0.0,700,NaN,QA
8700,8701,Marketing,NaN,NaN,0.5,0.5,400,120,Киев,до 50 человек,...,False,ниже среднего,eCommerce,12/07/2017 17:00:06,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,NaN
8701,8702,Junior Software Engineer,Ruby/Rails,NaN,1,0.5,800,500,Львов,до 10 человек,...,False,выше среднего,"Веб-разработка,Корпоративные системы",12/07/2017 17:32:26,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,800,NaN,DEV
8702,8703,Team lead,NaN,NaN,6,4,2600,0,Днепр,свыше 1000 человек,...,False,продвинутый,Финансы и банки,12/07/2017 18:14:59,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...,6.0,4.0,2600,NaN,PM
8703,8704,Senior Software Engineer,Java,NaN,7,2,5000,800,Одесса,до 1000 человек,...,False,выше среднего,Веб-разработка,12/07/2017 21:28:57,Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...,7.0,2.0,5000,NaN,DEV

In [2]:
poll.head()

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [3]:
poll.shape

(8704, 25)

In [4]:
poll.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

## Доля пропусков в каждой колонке

In [5]:
poll.isnull().sum()

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

## Удалите все столбцы с пропусками, кроме столбца "Язык.программирования"

In [6]:
cropped_poll = poll.dropna(axis = 1)
cropped_poll.insert(2, 'Язык.программирования', poll['Язык.программирования'])

## Доля пропусков в каждой колонке

In [7]:
cropped_poll.isnull().sum()

N                                      0
Должность                              0
Язык.программирования               3850
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

## Удалите все строки в исходной таблице с помощью метода dropna

In [8]:
cleared_poll = poll.dropna()
cleared_poll

Empty DataFrame
Columns: [N, Должность, Язык.программирования, Специализация, Общий.опыт.работы, Опыт.работы.на.текущем.месте, Зарплата.в.месяц, Изменение.зарплаты.за.12.месяцев, Город, Размер.компании, Тип.компании, Пол, Возраст, Образование, Университет, Еще.студент, Уровень.английского, Предметная.область, Дата.заполнения, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

## Определите новый размер таблицы

In [9]:
cleared_poll.shape

(0, 25)

## Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python

In [10]:
python_data = poll[poll['Язык.программирования'].str.contains('Python')==True]
python_data

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
12,13,Software Engineer,Python,NaN,1,меньше 3 месяцев,800,200,Киев,до 50 человек,...,False,ниже среднего,"Веб-разработка,Другое",12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800,NaN,DEV
68,69,Software Engineer,Python,NaN,1.5,0.5,900,900,Киев,до 10 человек,...,True,выше среднего,Веб-разработка,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900,NaN,DEV
87,88,Junior Software Engineer,Python,NaN,0.5,0.5,600,0,Киев,до 10 человек,...,True,выше среднего,"Веб-разработка,eCommerce",12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600,NaN,DEV
114,115,Junior Software Engineer,Python,NaN,1.5,0.5,685,250,Киев,до 1000 человек,...,False,средний,Другое,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.5,0.5,685,NaN,DEV
143,144,Junior Software Engineer,Python,NaN,1,1,750,250,Киев,до 10 человек,...,True,выше среднего,Веб-разработка,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,1.0,750,NaN,DEV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8546,8547,Software Engineer,Python,NaN,5,1,2000,800,Запорожье,до 50 человек,...,False,средний,Веб-разработка,10/07/2017 14:11:26,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,5.0,1.0,2000,NaN,DEV
8625,8626,Software Engineer,Python,NaN,4,1,1750,0,Киев,свыше 1000 человек,...,False,средний,Веб-разработка,11/07/2017 16:15:40,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,4.0,1.0,1750,NaN,DEV
8635,8636,Senior Software Engineer,Python,NaN,10 и более лет,меньше 3 месяцев,4000,1300,Удаленно,до 10 человек,...,False,выше среднего,Веб-разработка,11/07/2017 17:51:36,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,10.0,0.0,4000,NaN,DEV
8673,8674,Junior Software Engineer,Python,NaN,0.5,0.5,350,50,Киев,до 50 человек,...,False,средний,Веб-разработка,12/07/2017 09:37:16,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,0.5,0.5,350,NaN,DEV
8695,8696,Software Engineer,Python,NaN,1,0.5,1500,1000,Киев,до 10 человек,...,False,средний,"Финансы и банки,eCommerce",12/07/2017 14:39:21,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,1500,NaN,DEV

## Определите размер таблицы python_data

In [11]:
python_data.shape

(207, 25)

## Используя метод groupby выполните группировку по столбцу "Должность"

In [12]:
grouped_python_data = python_data.groupby('Должность', group_keys=True).apply(lambda x: x)
grouped_python_data

                                  N                 Должность  \
Должность
Junior Software Engineer 87      88  Junior Software Engineer
                         114    115  Junior Software Engineer
                         143    144  Junior Software Engineer
                         162    163  Junior Software Engineer
                         171    172  Junior Software Engineer
...                             ...                       ...
Technical Lead           5316  5317            Technical Lead
                         6192  6193            Technical Lead
                         6910  6911            Technical Lead
                         8381  8382            Technical Lead
                         8445  8446            Technical Lead

                              Язык.программирования Специализация  \
Должность
Junior Software Engineer 87                  Python           NaN
                         114                 Python           NaN
                         143                 Python           NaN
                         162                 Python           NaN
                         171                 Python           NaN
...                                             ...           ...
Technical Lead           5316                Python           NaN
                         6192                Python           NaN
                         6910                Python           NaN
                         8381                Python           NaN
                         8445                Python           NaN

                              Общий.опыт.работы Опыт.работы.на.текущем.месте  \
Должность
Junior Software Engineer 87                 0.5                          0.5
                         114                1.5                          0.5
                         143                  1                            1
                         162                0.5                          0.5
                         171               0.25                         0.25
...                                         ...                          ...
Technical Lead           5316    10 и более лет                            7
                         6192                 3                            3
                         6910    10 и более лет               10 и более лет
                         8381                 7                            1
                         8445                 7                            7

                               Зарплата.в.месяц  \
Должность
Junior Software Engineer 87                 600
                         114                685
                         143                750
                         162                500
                         171                800
...                                         ...
Technical Lead           5316              2700
                         6192              3700
                         6910              2500
                         8381              3000
                         8445              1900

                               Изменение.зарплаты.за.12.месяцев     Город  \
Должность
Junior Software Engineer 87                                   0      Киев
                         114                                250      Киев
                         143                                250      Киев
                         162                                  0   Винница
                         171                                  0      Киев
...                                                         ...       ...
Technical Lead           5316                                 0   Харьков
                         6192                                 0    Одесса
                         6910                               200    Херсон
                         8381                              1000  Удаленно
                         8445                               150     Львов

                               Размер.компании  ... Еще.студент  \
Должность                                       ...
Junior Software Engineer 87      до 10 человек  ...        True
                         114   до 1000 человек  ...       False
                         143     до 10 человек  ...        True
                         162    до 200 человек  ...        True
                         171     до 50 человек  ...       False
...                                        ...  ...         ...
Technical Lead           5316    до 10 человек  ...       False
                         6192    до 10 человек  ...       False
                         6910    до 50 человек  ...       False
                         8381    до 10 человек  ...       False
                         8445   до 200 человек  ...       False

                              Уровень.английского  \
Должность
Junior Software Engineer 87         выше среднего
                         114              средний
                         143        выше среднего
                         162        ниже среднего
                         171          продвинутый
...                                           ...
Technical Lead           5316       выше среднего
                         6192       выше среднего
                         6910       ниже среднего
                         8381       выше среднего
                         8445       выше среднего

                                                 Предметная.область  \
Должность
Junior Software Engineer 87                Веб-разработка,eCommerce
                         114                                 Другое
                         143                         Веб-разработка
                         162                         Веб-разработка
                         171                       Телекоммуникации
...                                                             ...
Technical Lead           5316                        Веб-разработка
                         6192                 Корпоративные системы
                         6910                        Веб-разработка
                         8381  Веб-разработка,Корпоративные системы
                         8445  Веб-разработка,Корпоративные системы

                                   Дата.заполнения  \
Должность
Junior Software Engineer 87    12/06/2017 13:12:25
                         114   12/06/2017 13:14:52
                         143   12/06/2017 13:19:10
                         162   12/06/2017 13:21:08
                         171   12/06/2017 13:22:31
...                                            ...
Technical Lead           5316  20/06/2017 16:31:42
                         6192  21/06/2017 13:55:30
                         6910  26/06/2017 12:16:50
                         8381  07/07/2017 19:51:15
                         8445  08/07/2017 18:46:55

                                                                      User.Agent  \
Должность
Junior Software Engineer 87    Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
                         114   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
                         143   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
                         162   Mozilla/5.0 (Linux; Android 7.1.2; LG-D802 Bui...
                         171   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
...                                                                          ...
Technical Lead           5316  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
                         6192  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
                         6910  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
                         8381  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
                         8445  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...

                                 exp current_job_exp salary Валюта   cls
Должность
Junior Software Engineer 87     0.50            0.50    600    NaN   DEV
                         114    1.50            0.50    685    NaN   DEV
                         143    1.00            1.00    750    NaN   DEV
                         162    0.50            0.50    500    NaN   DEV
                         171    0.25            0.25    800    NaN   DEV
...                              ...             ...    ...    ...   ...
Technical Lead           5316  10.00            7.00   2700    NaN  SDEV
                         6192   3.00            3.00   3700    NaN  SDEV
                         6910  10.00           10.00   2500    NaN  SDEV
                         8381   7.00            1.00   3000    NaN  SDEV
                         8445   7.00            7.00   1900    NaN  SDEV

[207 rows x 25 columns]

## Создайте новый DataFrame, где для сгруппированных данных по столбцу "Должность", выполните агрегацию данных с помощью метода agg и найдите минимальное и максимальное значение в столбце "Зарплата.в.месяц"

In [13]:
agg_by_salary = python_data.groupby('Должность').agg({'Зарплата.в.месяц' : ['min', 'max']})
agg_by_salary

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

## Создайте функцию fill_avg_salary которая будет возвращать среднее значение заработной платы в месяц. Используйте ее для метода apply и создайте новый столбик "avg"

In [14]:
def fill_avg_salary(df):
    return df.agg({'Зарплата.в.месяц' : ['mean']}).rename(columns={'Зарплата.в.месяц': 'avg'}).round(0).astype(int)

avg_salary = python_data.groupby('Должность').apply(fill_avg_salary).droplevel(level=1)
avg_salary

                           avg
Должность
Junior Software Engineer   561
Senior Software Engineer  3387
Software Engineer         1799
System Architect          4000
Technical Lead            3166

## Создайте описательную статистику с помощью метода describe для нового столбца

In [15]:
avg_salary.describe().round(0).astype(int)

        avg
count     5
mean   2583
std    1387
min     561
25%    1799
50%    3166
75%    3387
max    4000

## Сохраните полученную таблицу в CSV файл

In [16]:
avg_salary.to_csv('Average Salary.csv')